<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/me.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
    <%- include('partials/header') %>
</head>
<body>

    <div class="top">
        <img src="me.jpg" alt="me">
        <div class="contact">
            <h1>James M. Leppo</h1>
            <h4>Developer</h4>
            <div class="phone">571-562-0750</div>
            <div class="email">jamesmleppo@gmail.com</div>
        </div>
    </div>

    <div class="bio">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae labore nulla quibusdam tenetur autem eum ipsa maiores ipsam quisquam natus, commodi repellendus cupiditate reiciendis quod maxime debitis. Sed, vel impedit!
        <br>
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At libero voluptates dolore culpa doloremque. Eum veritatis minima dignissimos provident! Recusandae error quisquam minus sed ea tenetur rerum dignissimos tempore corporis.
    </p>
    <div class="square-div">

        <h2>Focus Area</h2>
        <div class="content">Web Development</div>
        
    </div>

<style>
  .square-div {
    
    width: 200px;
    height: 150px;
  }
</style>

    </div>
</body>
</html>
<%- include('partials/footer') %>