<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/second.css" rel="stylesheet" type="text/css" />
  <title>Document</title>
  <style>
    .sticky-header { font-family: 'Open Sans', sans-serif;}
      .sticky-header {
        position: sticky;
        
        top: 0;
        background-color: transparent;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        z-index: 100;
      }
      
      .home-button {
        display: inline-block;
        padding: 10px 20px;
       
        color: purple;
        border-radius: 5px;
        text-decoration: none;
      }</style>
    
    
</head>
<body>
<div class="sticky-header">
        <div>BY: JAMES M. LEPPO</div>
        <a href="#" class="home-button">Home</a>
      </div>


  <!--the main title h1-->
 <div class="topper"><h1 class="j">This is the first<br> of Many</h1> 
  <h6 class="words url-padding j"> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h6>
</div> 
 <!--the main title h1-->
 <div class="wrapper">
    <div class="box">
<img class="cube" src="cube.png" alt="cube">
</div>

<div class="box">
<div class="c">
<h1 class="colors x">A key goal of the Internet Computer is to provide an energy efficient compute platform that scales for the world to build systems and services.</h1>
</div>
</div>
</div>
<img class="globe" src="globe.jpg" alt="globe">

<div class="half">
  <div class="a"></div>
  <div class="b">The Internet Computer is not only one of the most energy efficient blockchains running today, it is also the first blockchain to join the Proof of Green (PoG) initiative — an initiative that aims to cut greenwashing. In collaboration with Carbon Crowd, the DFINITY Foundation aims to set blockchain industry standards by making 'claims of green' transparent, verifiable and accountable through measuring mechanisms and scope 2 carbon emissions reporting.</div>
</div>

  <div class="ab"></div>

 <div class="center">
  <div class="big">
    <h2 class="word">ICP is <span class="colors">transparent</span> about carbon emissions</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore repellat, blanditiis soluta, similique tempora non quod quia quos iure cum quibusdam doloremque ut numquam quaerat quo consequuntur adipisci qui ex! Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, ad consequatur sint tempore fuga nesciunt ipsum iusto nam fugiat ipsa beatae expedita quam autem, cupiditate temporibus error incidunt at totam!</p>
  </div>
</div>

<div class="place1">
    <!-- content goes here -->
  </div>
  <div class="push-down">
    <!-- content goes here -->
  </div>
  
<%- include('partials/footer') %>

</body>
</html>

 